{% extends "@EasyAdmin/page/content.html.twig" %}

{% block content %}

<div>

<h1>Bienvenue dans l'administration de la Protection Civile du Rhône</h1>

<p>Ce panneau d'administration vous permet de gérer les utilisateurs, les catégories et les articles.</p>


<br>
<h2>📌 Comment créer une Catégorie ou un Article</h2>
  <p>Choisissez la section "Catégorie" ou "Article" dans le menu latéral, puis cliquez sur le bouton "Add" en haut à droite de la page.</p>
  
    <img src="{{ asset('assets/images/admin/ajout.png') }}" alt="Créer une catégorie ou un article" width="100%">
    <br>
  <p>Remplissez les champs du formulaire. Certains champs obligatoires sont indiqués par un "*".</p> 
  <p>Pour les articles, vous pouvez ajouter une vidéo soit via une URL YouTube, soit en téléchargeant une vidéo. Toutefois, une seule vidéo est autorisée par article. Nous vous conseillons d'utiliser YouTube afin d'éviter l'occupation excessive de l'espace de stockage.</p>
  <p>Pour les images, vous pouvez en ajouter plusieurs. Cliquez sur "Add a new item" pour ajouter une image supplémentaire.</p>

  <img src="{{ asset('assets/images/admin/add_image.png') }}" alt="Ajouter une image" width="100%">
  <p>Une fois les champs remplis, cliquez sur "Create" en haut à droite de la page.</p>

  <img src="{{ asset('assets/images/admin/create.png') }}" alt="Créer une catégorie ou un article" width="100%">
  <br>
  <br>

<h2>📌 Comment modifier une Catégorie ou un Article</h2>
    <p>Pour modifier une catégorie ou un article, cliquez sur les trois points situés à droite de l’élément concerné, puis sélectionnez "Edit".</p>
    <img src="{{ asset('assets/images/admin/edit.png') }}" alt="Modifier une catégorie ou un article" width="100%">
    <p>Modifiez les champs nécessaires, puis cliquez sur "Save changes" en haut à droite de la page.</p>
  <br>
  <br>

<h2>📌 Voir les détails d'un article</h2>
    <p>Pour voir le détail d'un article, cliquez sur les trois points, puis sélectionnez "Show".</p>
    <img src="{{ asset('assets/images/admin/show.png') }}" alt="Voir le détail d'un article" width="100%">
    <p>Vous pourrez voir les détails de l'article ainsi que les images. Cependant, les vidéos ne seront pas visibles depuis cet aperçu.</p>
    <br>
</div>
{% endblock %}
